:root {
	--font-body: Arial, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-text: rgba(0, 0, 0, 0.7);
	font-family: var(--font-body);
	color: var(--color-text);
}

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
	background-size: 100vw 100vh;
}

@font-face {
	font-family: 'Brush Script MT';
	font-style: normal;
	src: url('/fonts/BRUSHSCI.ttf');
}
